<!DOCTYPE html>
<html>
<head>
  {{ include("apl_includes/header_meta.twig") }}
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    {{ include("apl_includes/header.twig") }}
  </header>
  <aside class="main-sidebar">
    {{ include("apl_includes/sidebar.twig") }}
  </aside>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-light-blue">
            <div class="inner">
              <h3>{{ TOTAL_PRODUCTS }} Product(s)</h3>
              <p>{{ TOTAL_ACTIVE_PRODUCTS }} Active</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="products_view.php" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ TOTAL_CLIENTS }} Client(s)</h3>
              <p>{{ TOTAL_ACTIVE_CLIENTS }} Active</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a href="clients_view.php" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ TOTAL_LICENSES }} License(s)</h3>
              <p>{{ TOTAL_ACTIVE_LICENSES }} Active</p>
            </div>
            <div class="icon">
              <i class="fa fa-id-card-o"></i>
            </div>
            <a href="licenses_view.php" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ TOTAL_CALLBACKS }} Callback(s)</h3>
              <p>{{ TOTAL_SUCCESSSFUL_CALLBACKS }} Successful</p>
            </div>
            <div class="icon">
              <i class="fa fa-line-chart"></i>
            </div>
            <a href="callbacks_view.php" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Clients</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Activation</th>
                    <th>Licenses</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in latest_clients_array %}
                    <tr>
                      <td><a href="clients_edit.php?client_id={{ item_array.client_id }}">{{ item_array.client_fname }} {{ item_array.client_lname }}</a></td>
                      <td>{{ item_array.client_email }}</td>
                      <td>{{ item_array.client_active_date }}</td>
                      <td>{{ item_array.total_licenses }}</td>
                      <td><span class="{{ item_array.client_status_formatted.status_class }}">{{ item_array.client_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Licenses</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Client or License Code</th>
                    <th>Activation</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in latest_licenses_array %}
                    <tr>
                      <td><a href="licenses_edit.php?license_id={{ item_array.license_id }}">{{ item_array.product_title }}</a></td>
                      <td>{% autoescape false %}{{ item_array.client_formatted }}{% endautoescape %}</td>
                      <td>{{ item_array.license_active_date }}</td>
                      <td><span class="{{ item_array.license_status_formatted.status_class }}">{{ item_array.license_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Installations</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Client or License Code</th>
                    <th>Domain</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in latest_installations_array %}
                    <tr>
                      <td><a href="products_edit.php?product_id={{ item_array.product_id }}">{{ item_array.product_title }}</a></td>
                      <td>{% autoescape false %}{{ item_array.client_formatted }}{% endautoescape %}</td>
                      <td>{{ item_array.installation_domain }}</td>
                      <td>{{ item_array.installation_date }}</td>
                      <td><span class="{{ item_array.installation_status_formatted.status_class }}">{{ item_array.installation_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Callbacks</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Client or License Code</th>
                    <th>Domain</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in latest_callbacks_array %}
                    <tr>
                      <td><a href="products_edit.php?product_id={{ item_array.product_id }}">{{ item_array.product_title }}</a></td>
                      <td>{% autoescape false %}{{ item_array.client_formatted }}{% endautoescape %}</td>
                      <td>{{ item_array.callback_domain }}</td>
                      <td>{{ item_array.callback_date }}</td>
                      <td><span class="{{ item_array.callback_status_formatted.status_class }}">{{ item_array.callback_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Expiring Updates</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Client or License Code</th>
                    <th>Activation</th>
                    <th>Expiration</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in expiring_updates_array %}
                    <tr>
                      <td><a href="licenses_edit.php?license_id={{ item_array.license_id }}">{{ item_array.product_title }}</a></td>
                      <td>{% autoescape false %}{{ item_array.client_formatted }}{% endautoescape %}</td>
                      <td>{{ item_array.license_active_date }}</td>
                      <td>{{ item_array.license_updates_date }}</td>
                      <td><span class="{{ item_array.license_status_formatted.status_class }}">{{ item_array.license_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Expiring Licenses</h3>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Product</th>
                    <th>Client or License Code</th>
                    <th>Activation</th>
                    <th>Expiration</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item_array in expiring_licenses_array %}
                    <tr>
                      <td><a href="licenses_edit.php?license_id={{ item_array.license_id }}">{{ item_array.product_title }}</a></td>
                      <td>{% autoescape false %}{{ item_array.client_formatted }}{% endautoescape %}</td>
                      <td>{{ item_array.license_active_date }}</td>
                      <td>{{ item_array.license_expire_date }}</td>
                      <td><span class="{{ item_array.license_status_formatted.status_class }}">{{ item_array.license_status_formatted.status_text }}</span></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    {{ include("apl_includes/footer.twig") }}
  </footer>
</div>
{{ include("apl_includes/footer_meta.twig") }}
</body>
</html>