<!DOCTYPE html>
<html>
<head>
  {{ include("apl_includes/header_meta.twig") }}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    {{ PRODUCT_STYLIZED_NAME|striptags("<b>")|raw }}
  </div>
  <div class="login-box-body">
    <p class="{{ page_message_class }}">{{ page_message|striptags("<a><b><br><i><li><strong><u><ul>")|raw }}</p>
    <form action="{{ script_filename }}" method="post">
      {% if action_success!=1 %}
      <div class="form-group has-feedback">
        <input type="password" name="admin_password_login" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="admin_password_login2" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="hidden" name="admin_reset_login" value="{{ admin_reset_login }}"><button type="submit" name="submit_ok" class="btn btn-primary btn-block btn-flat">Submit</button>
      </div>
      {% endif %}
      <div class="form-group has-feedback">
        <a href="login.php" class="btn btn-warning btn-block btn-flat">Go back to login form</a><br>
      </div>
    </form>
  </div>
</div>
{{ include("apl_includes/footer_meta.twig") }}
</body>
</html>