<!DOCTYPE html>
<html>
<head>
  {{ include("apl_includes/header_meta.twig") }}
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    {{ include("apl_includes/header.twig") }}
  </header>
  <aside class="main-sidebar">
    {{ include("apl_includes/sidebar.twig") }}
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="{{ page_message_class }}">
        <h4>{{ page_title }}</h4>
        <p>{{ page_message|striptags("<a><b><br><i><li><strong><u><ul>")|raw }}</p>
      </div>
    </section>
    <section class="content">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ page_title }}</h3>
        </div>
        <form action="{{ script_filename }}" method="post">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Valid License</label>
                <textarea name="notification_license_ok" class="form-control" rows="2" placeholder="Valid license notification">{{ notification_license_ok }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Invalid License</label>
                <textarea name="notification_license_not_found" class="form-control" rows="2" placeholder="Invalid license notification">{{ notification_license_not_found }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Invalid IP</label>
                <textarea name="notification_invalid_ip" class="form-control" rows="2" placeholder="Invalid IP notification">{{ notification_invalid_ip }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Invalid Domain</label>
                <textarea name="notification_invalid_domain" class="form-control" rows="2" placeholder="Invalid domain notification">{{ notification_invalid_domain }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Domain Required</label>
                <textarea name="notification_domain_required" class="form-control" rows="2" placeholder="Domain required notification">{{ notification_domain_required }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Domain in Use</label>
                <textarea name="notification_domain_in_use" class="form-control" rows="2" placeholder="Domain in use by other client notification">{{ notification_domain_in_use }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Suspended License</label>
                <textarea name="notification_license_suspended" class="form-control" rows="2" placeholder="Suspended license notification">{{ notification_license_suspended }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Expired License</label>
                <textarea name="notification_license_expired" class="form-control" rows="2" placeholder="Expired license notification">{{ notification_license_expired }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Expired Updates</label>
                <textarea name="notification_updates_expired" class="form-control" rows="2" placeholder="Expired updates notification">{{ notification_updates_expired }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Maximum Installations Limit Reached</label>
                <textarea name="notification_license_limit" class="form-control" rows="2" placeholder="Reached maximum installations limit notification">{{ notification_license_limit }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Cancelled License</label>
                <textarea name="notification_license_cancelled" class="form-control" rows="2" placeholder="Cancelled license notification">{{ notification_license_cancelled }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Non-Existing Installation</label>
                <textarea name="notification_installation_not_found" class="form-control" rows="2" placeholder="Non-existing installation notification">{{ notification_installation_not_found }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Inactive Product</label>
                <textarea name="notification_product_inactive" class="form-control" rows="2" placeholder="Inactive product notification">{{ notification_product_inactive }}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Invalid License Signature</label>
                <textarea name="notification_invalid_signature" class="form-control" rows="2" placeholder="Invalid license signature notification">{{ notification_invalid_signature }}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Unknown Error</label>
                <textarea name="notification_unknown_error" class="form-control" rows="2" placeholder="Unknown error notification">{{ notification_unknown_error }}</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
            <button type="submit" name="submit_ok" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    {{ include("apl_includes/footer.twig") }}
  </footer>
</div>
{{ include("apl_includes/footer_meta.twig") }}
</body>
</html>