<!DOCTYPE html>
<html>
<head>
  {{ include("apl_includes/header_meta.twig") }}
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    {{ include("apl_includes/header.twig") }}
  </header>
  <aside class="main-sidebar">
    {{ include("apl_includes/sidebar.twig") }}
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="{{ page_message_class }}">
        <h4>{{ page_title }}</h4>
        <p>{{ page_message|striptags("<a><b><br><i><li><strong><u><ul>")|raw }}</p>
      </div>
    </section>
    <section class="content">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ page_title }}</h3>
        </div>
        <form action="{{ script_filename }}" method="post">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Remove Data Older Than...</label>
                <select name="database_cleanup_days" class="form-control select2">{% for item_array in database_cleanup_days_array %}<option value="{{ item_array.value }}"{{ item_array.selected }}>{{ item_array.title }}</option>{% endfor %}</select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Remove Callbacks</label>
                <select name="database_cleanup_callbacks" class="form-control select2"><option value="1">Enabled</option><option value="0"{% if DATABASE_CLEANUP_CALLBACKS is defined and DATABASE_CLEANUP_CALLBACKS==0 %} selected{% endif %}>Disabled</option></select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Remove Reports</label>
                <select name="database_cleanup_reports" class="form-control select2"><option value="1">Enabled</option><option value="0"{% if DATABASE_CLEANUP_REPORTS is defined and DATABASE_CLEANUP_REPORTS==0 %} selected{% endif %}>Disabled</option></select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Remove Inactive Licenses</label>
                <select name="database_cleanup_licenses" class="form-control select2"><option value="1">Enabled</option><option value="0"{% if DATABASE_CLEANUP_LICENSES is defined and DATABASE_CLEANUP_LICENSES==0 %} selected{% endif %}>Disabled</option></select>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
            <button type="submit" name="submit_ok" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    {{ include("apl_includes/footer.twig") }}
  </footer>
</div>
{{ include("apl_includes/footer_meta.twig") }}
</body>
</html>