<div class="pull-right hidden-xs">
      <b>Version</b> {{ PRODUCT_VERSION }}
    </div>
    <strong><a href="{{ PRODUCT_HOMEPAGE }}" title="{{ PRODUCT_NAME }}" target="_blank">{{ PRODUCT_NAME }}</a></strong> - {{ PRODUCT_SLOGAN }}